[Unit]
Description=Kaoz IRC notifier bot
After=network.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/kaoz --notify-systemd --logstd

[Install]
WantedBy=multi-user.target
